body{
    background-color: rgb(21, 248, 248);
}
.container{
    background-color: white;
    height: 530px;
    width: 85%;
    margin: auto;
    border-radius: 15px;
}

p{
    font-size: 23px;
    color:rgb(184, 81, 81) ;
    font-weight: bold;
    text-align: center;
    margin-top: 65px;
    padding-top: 40px;
}

.content{
    text-align: center;
}

.content img{
    width: 100px;
}
